# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Misc
*.tlog
*.ilk
*.lastbuildstate
*.log
*.idb
*.sdf
*.suo
*.opensdf
*.pdb
*.vcxproj.user
*.unsuccessfulbuild
/HardLight/Debug
